<% if flash[:alert] %>
  <input type="checkbox" id="flash-modal" class="modal-toggle" checked />
  <div class="modal">
    <div class="modal-box">
      <% flash[:alert] %>
        <p class="py-4 text-primary"><%= flash[:alert] %></p>
      <div class="modal-action">
        <label for="flash-modal" class="btn">閉じる</label>
      </div>
    </div>
  </div>
<% end %>

