<div class="flex flex-col items-center justify-center bg-neutral text-base-300 text-center p-4">
  <div>© 2025 会議サバイバル</div>
    <div>
      <a href="https://x.com/tey__runteq" target="_blank" class="text-accent-content">
          お問い合わせはこちら
      </a>
    </div>
</div>